.shelf {
  text-align: center;
  padding: 0;
  background: var(--bg-color);
  color: black;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: var(--card-shadow);
}
.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 30px;
  padding: 20px;
}
.shelf-icon {
  color: #000000;
  font-size: 1.2em;
  padding: 0 5px 0 0;
}
