.snow-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    pointer-events: none; 
    z-index: -9999; 
    overflow: hidden; 
}


.snowflake {
    position: absolute;
    top: -50px; 
    color: white; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    animation-name: snowfall; 
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}


@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg); 
        opacity: 0; 
    }
    20% {
        opacity: 1; 
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0.7; 
    }
}